/* Loading */
.b-loader {
	border: 8px solid transparent;
	border-top: 8px solid #ffffff;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 0.75s linear infinite;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* Animations */

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
